// Header

header{
    background-color: $couleur-dark;
    .nav-link{
        color: $blanc;
    }
}

.search-form form{
    display: flex;
    button{
        margin-left: 2px;
    }
    .mb-3{
        margin-bottom: 0;
    }
}

.navbar-collapse {
    flex-grow: 0!important; 
    flex-basis: auto;
 }