{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_commune_new' ? 'Ajout' : 'Edition' %}

{% block title %}{{ action }} d'une commune{% endblock %}

{% block body %}
    <div class="container formulaire-ajout">
        <div class="py-5">
            <h1>{{ action }} d'une commune</h1>
        </div>

        {{ include('admin/commune/_form.html.twig') }}
        
        <div class="py-5">
            <a class="btn btn-warning" href="{{ path('app_commune_index') }}">Annuler</a>
        </div>
    </div>
{% endblock %}
