{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_commune_new' ? 'Ajout' : 'Edition' %}

{% block title %}{{ action }} d'une commune{% endblock %}

{% block body %}
    <h1>{{ action }} d'une commune</h1>

    {{ include('admin/commune/_form.html.twig') }}

    <a href="{{ path('app_commune_index') }}">back to list</a>
{% endblock %}
