{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Create new Pays</h1>

    {{ include('admin/pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('/js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Vérifier si l'élément est dans le DOM et s'il est visible
    var textarea = document.querySelector('.tinymce');
    
    // Ne faire rien si l'élément n'est pas trouvé
    if (!textarea) {
        return;
    }

    // Initialiser TinyMCE uniquement si le champ est visible et prêt
    if (textarea.style.display !== 'none' && !tinymce.get('eveche_description')) {
        tinymce.init({
            selector: '.tinymce',
            license_key: 'gpl'
        });
    }
});
</script>
{% endblock %}