#map-eveche-show{
    min-height: 450px;
    min-width: 350px;
}

.liste-eveche-show{
    padding-left: 0;
    column-count: 2;
}

@media screen and (max-width: 768px){
    .liste-eveche-show{
        column-count: 1;
    }
}