{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="container">
    <div class="py-5">
        <div class="pb-5">
            <h1>Mentions légales</h1>
        </div>
        
        <div class="pb-3">
            <h2>L’hébergeur</h2>
            <p>Hébergeur : <a href="https://www.planethoster.net/fr">Planethoster</a></p>
            <p>Adresse : 4416 Louis-B. -Mayer, Laval, Québec, Canada H7P 0G1</p>
            <p>Téléphone du siège de Paris : 01 76 60 41 43</p>
        </div>

        <div class="pb-3">
            <h2>Données personnelles</h2>
            <p> Ce site ne collecte aucune donnée personnelle et n’utilise aucun cookie.</p>
        </div>

        <div class="pb-3">
            <h2>Responsabilité</h2>
            <p>L’éditeur du site s’efforce de fournir des informations précises et à jour. Toutefois, il ne saurait être tenu responsable des erreurs, omissions ou éventuels dommages résultant de l’utilisation du site.</p>
        </div>

        <div class="pb-3">
            <h2>Loi applicable</h2>
            <p>Les présentes mentions légales sont régies par le droit applicable en France. En cas de litige, les tribunaux compétents seront ceux de Rennes.</p>
        </div>

        <div class="pb-3">
            <p>Pour toute question, vous pouvez nous contacter à l’adresse suivante : newennturbiau-graphisme[at]gmail(.)com</p>
        </div>
        
    </div>
</div>
{% endblock %}
