h1 {
  text-align: center;
}

.body {
  background-color: #ecedf6;
}

.custom-container {
  padding: 0 10px 0 10px;
}

footer {
  background-color: #090930;
}
footer .nav-link {
  color: #d4d4d4;
}

header {
  background-color: #090930;
}
header .nav-link {
  color: #ffffff;
}

.search-form form {
  display: flex;
}
.search-form form button {
  margin-left: 2px;
}
.search-form form .mb-3 {
  margin-bottom: 0 !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
  flex-basis: auto;
}

.pagination .page-link {
  --bs-pagination-color: #090930;
  --bs-pagination-bg: #ffffff;
  --bs-pagination-hover-color: #ffffff;
  --bs-pagination-hover-bg: #090930;
  --bs-pagination-hover-border-color: #090930;
  --bs-pagination-active-color: #ffffff;
  --bs-pagination-active-bg: #090930;
  --bs-pagination-active-border-color: #090930;
}

.home-section01 {
  background-color: #090930;
  height: 50vh;
  margin-bottom: -320px;
}
.home-section01 h1 {
  text-align: center;
  color: #ecedf6;
}

.home-section02 {
  background-color: #090930;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#map-home {
  min-width: 300px;
  height: 600px;
  border-radius: 10px 10px 0 0;
}

.liste-communes {
  column-count: 3;
  width: 100%;
  padding-left: 0;
}

.home-section03 .btn {
  background-color: #090930;
  color: #ffffff;
}
.home-section03 .btn:hover {
  background-color: #ffffff;
  color: #090930;
}

@media screen and (max-width: 768px) {
  .liste-communes {
    column-count: 2;
  }
}
@media screen and (max-width: 576px) {
  .liste-communes {
    column-count: 1;
  }
}
.home-section04 {
  background-color: #090930;
  color: #ffffff;
}
.home-section04 .btn {
  background-color: #090930;
  color: #ffffff;
}
.home-section04 .btn:hover {
  background-color: #ecedf6;
  color: #090930;
}
.home-section04 h2 {
  text-align: center;
}

.home-section05 {
  background-color: #ffffff;
}
.home-section05 a {
  color: #6b6b6b;
}
.home-section05 a:hover {
  color: #090930;
}
.home-section05 .sources {
  padding-right: 50px;
}
.home-section05 .contact {
  padding-left: 50px;
  border-left: #ecedf6 1px solid;
}
.home-section05 .contact .btn {
  background-color: #090930;
  color: #ffffff;
}
.home-section05 .contact .btn:hover {
  background-color: #ecedf6;
  color: #090930;
}

@media screen and (max-width: 768px) {
  .home-section05 .sources {
    padding-right: 0px;
  }
  .home-section05 .contact {
    padding-left: 10px;
    border-left: none;
    margin-top: 50px;
  }
}
#map-index-commune {
  width: 100%;
  min-width: 400px;
  height: 500px;
}

.index-communes-section02 table .thead-table tr {
  --bs-table-bg: #090930;
  --bs-table-color: #ecedf6;
}
.index-communes-section02 table tr {
  --bs-table-striped-bg: #ecedf6;
}
.index-communes-section02 table a {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #000000;
}
.index-communes-section02 table a:hover {
  background-color: #090930;
  color: #ecedf6;
}

.index-communes-section03 {
  background-color: #ffffff;
}
.index-communes-section03 .btn {
  background-color: #090930;
  color: #ffffff;
}
.index-communes-section03 .btn:hover {
  background-color: #ecedf6;
  color: #090930;
}

.liste-pays-index {
  padding-left: 0;
}

.liste-eveche-index {
  padding-left: 0;
}

#map-commune-show {
  height: 400px;
  min-width: 350px;
}

.back-list .btn {
  background-color: #090930;
  color: #ffffff;
}
.back-list .btn:hover {
  background-color: #ffffff;
  color: #090930;
}

#map-eveche-show {
  min-height: 450px;
  min-width: 350px;
}

.liste-eveche-show {
  padding-left: 0;
  padding-top: 0;
  column-count: 2;
}

@media screen and (max-width: 960px) {
  .liste-eveche-show {
    column-count: 1;
  }
}
.login .btn {
  background-color: #090930;
  color: #ffffff;
}
.login .btn:hover {
  background-color: #ffffff;
  color: #090930;
}
.login .formulaire {
  max-width: 500px;
}

.formulaire-ajout form .btn {
  background-color: #090930;
  color: #ffffff;
}
.formulaire-ajout form .btn:hover {
  background-color: #ffffff;
  color: #090930;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../assets/styles/base/_fonts.scss%22,%22../../assets/styles/base/_base.scss%22,%22../../assets/styles/layouts/_footer.scss%22,%22../../assets/styles/base/_variables.scss%22,%22../../assets/styles/layouts/_header.scss%22,%22../../assets/styles/layouts/_pagination.scss%22,%22../../assets/styles/pages/_home.scss%22,%22../../assets/styles/pages/_index-commune.scss%22,%22../../assets/styles/pages/_index-pays.scss%22,%22../../assets/styles/pages/_index-eveche.scss%22,%22../../assets/styles/pages/_commune-show.scss%22,%22../../assets/styles/pages/_eveche-show.scss%22,%22../../assets/styles/pages/_login.scss%22,%22../../assets/styles/pages/_admin.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;;;ACDJ;EACI;;;AAGJ;EACI;;;ACLJ;EACI,kBCDW;;ADEX;EACA,OCDU;;;ACAd;EACI,kBDHW;;ACIX;EACI,ODDA;;;ACKR;EACI;;AACA;EACI;;AAEJ;EACI;;;AAIR;EACI;EACA;;;ACrBJ;EACI;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;;;ACVJ;EACI,kBHDW;EGEX;EACA;;AACA;EACI;EACA,OHLQ;;;AGShB;EACI,kBHXW;EGYX;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAIA;EACI,kBH9BO;EG+BP,OH3BA;;AG4BA;EACI,kBH7BJ;EG8BI,OHlCG;;;AGuCf;EACI;IACI;;;AAIR;EACI;IACI;;;AAIR;EACI,kBHpDW;EGqDX,OHjDI;;AGkDJ;EACI,kBHvDO;EGwDP,OHpDA;;AGqDA;EACI,kBHzDI;EG0DJ,OH3DG;;AG8DX;EACI;;;AAIR;EACI,kBHhEI;;AGiEJ;EACI;;AACA;EACA,OHxEO;;AG2EX;EACI;;AAEJ;EACI;EACA;;AACA;EACI,kBHlFG;EGmFH,OH/EJ;;AGgFI;EACI,kBHpFA;EGqFA,OHtFD;;;AG4Ff;EAEQ;IACI;;EAEJ;IACI;IACA;IACA;;;ACpGZ;EACI;EACA;EACA;;;AAMY;EACA;EACA;;AAGR;EACA;;AAGJ;EACI;EACA;EACA;EACA,OJjBD;;AImBC;EACI,kBJzBG;EI0BH,OJzBI;;;AI+BhB;EACI,kBJ7BI;;AI8BJ;EACI,kBJnCO;EIoCP,OJhCA;;AIiCA;EACI,kBJrCI;EIsCJ,OJvCG;;;AKAf;EACI;;;ACDJ;EACI;;;ACDJ;EACI;EACA;;;AAGJ;EACI,kBPNW;EOOX,OPHI;;AOIJ;EACI,kBPLA;EOMA,OPVO;;;AQAf;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;IACI;;;ACZJ;EACI,kBTFO;ESGP,OTCA;;ASAA;EACI,kBTDJ;ESEI,OTNG;;ASSX;EACI;;;ACTJ;EACI,kBVFO;EUGP,OVCA;;AUAA;EACI,kBVDJ;EUEI,OVNG%22,%22file%22:%22app.output.css%22%7D */
