.formulaire-ajout form{
    .btn{
        background-color: $couleur-dark;
        color: $blanc;
        &:hover{
            background-color: $blanc;
            color: $couleur-dark;
        }
    }
}