#map-index-commune{
    width: 100%;
    min-width: 400px;
    height: 500px;
}

.index-communes-section02{
    table {
        .thead-table {
                tr{
                --bs-table-bg: #090930;
                --bs-table-color: #ecedf6;
            }
        }
        tr{
        --bs-table-striped-bg: #ecedf6;
    }
}
    table a{
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;
        color: $noir;

        &:hover{
            background-color: $couleur-dark;
            color: $couleur-light;
        }
    
    }
}

.index-communes-section03{
    background-color: $blanc;
    .btn{
        background-color: $couleur-dark;
        color: $blanc;
        &:hover{
            background-color: $couleur-light;
            color: $couleur-dark;
        }
    }
}