.pagination .page-link {
    --bs-pagination-color: #090930;
    --bs-pagination-bg: #ffffff;

    --bs-pagination-hover-color: #ffffff;
    --bs-pagination-hover-bg: #090930;
    --bs-pagination-hover-border-color: #090930;

    --bs-pagination-active-color: #ffffff;
    --bs-pagination-active-bg: #090930;
    --bs-pagination-active-border-color: #090930;

}