	
<div class="search-form">
    {{ form_start(form, {'method': 'POST', 'action': path('app_search')}) }}
    {{ form_row(form.query) }}
    <button type="submit"><i class="fas fa-search"></i></button>
    {{ form_end(form) }}
</div>
