{% extends 'base.html.twig' %}

{% block title %}New Eveche{% endblock %}

{% block body %}
    <h1>Create new Eveche</h1>

    {{ include('admin/eveche/_form.html.twig') }}

    <a href="{{ path('app_eveche_index') }}">back to list</a>
{% endblock %}
